html {
	height: 100%;
}


body {
  min-height: 100%;
  background: url('../img/renewables3.png') center;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-attachment: fixed;
	
}

img {
	max-height: 150px;
	max-width: 150px;
  margin-bottom: 0;
  margin-top: 20px;

}

/*#mainbody {
	
	width: 100%;
	height: 120%;
	
}*/

.fb-like {
	text-align: center;
	width: 250px;

}

#signup {
	color: white;
	text-align: center;
	/*text-shadow: 1px 2px 3px black;*/

/*	background: url('../img/renewables.png') center;
	background-size: cover;
	background-repeat:no-repeat;*/
	padding: 0 0 10px 0;
	
}

#signup h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 30px;
	/*text-shadow: 1px 2px 3px black;*/
  margin-top: 0px;
 /* margin-bottom: 40px;*/
}



.ss-form-question {
	height: 80px;
}

.joinbutton {
	height: 50px;
	
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }




/* =Responsive Structure
----------------------------------------------- */
@media (max-width: 800px) {
       /* Smaller Resolution Desktops and Laptops */
       [...]
}
@media (max-width: 650px) {
       /* Smaller devices */
       [...]
}
@media (max-width: 450px) {
       /* Even Smaller devices */
       [...]
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
       /* Even Smaller devices */
       [...]
}

